[submodule "external/ldc"]
	path = external/ldc
	url = https://github.com/ldc-developers/ldc.git
[submodule "external/dub"]
	path = external/dub
	url = https://github.com/dlang/dub.git
[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/SDL-mirror/SDL.git
[submodule "external/SDL_image"]
	path = external/SDL_image
	url = https://github.com/SDL-mirror/SDL_image.git
[submodule "external/zlib"]
	path = external/zlib
	url = https://github.com/cloudflare/zlib.git
[submodule "external/libpng"]
	path = external/libpng
	url = https://github.com/glennrp/libpng.git
